div.menu{
    width: 100%;
    height: 40px;
    background-color: #2b2b2b;
}
div.menu>nav{
    width: inherit;
    height: inherit;
}
div.menu>nav>ul{
    width: inherit;
    height: inherit;
    text-align: center;
}
div.menu>nav>ul>li{
    width: auto;
    height: inherit;
    display: inline-block ;
}
div.menu>nav>ul>li>a{
    display: block;
    width: inherit;
    padding: 0 10px;
    height: inherit;
    line-height: 40px;
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: bold;
    transition: 300ms;
}
div.menu>nav>ul>li>a:hover{
    background-color: #4b4b4b;
}
#close,#show,label[for=show],label[for=close]{
    display: none;
}
div.parallax{
    width: 100%;
    height: calc(100vh - 40px);
    background: url('../../images/robotic.jpg') center center no-repeat fixed;
    background-size: cover;
    position: relative;
}
div.parallax>div.slogan{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(65, 207, 141, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 25px black;
    transition: 300ms;
}
div.parallax>div.slogan>h1{
    color: #2b2b2b;
    margin-bottom: 10px;
    text-align: center;
}
div.parallax>div.slogan>p{
    color: #2b2b2b;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
}
div.parallax>div.slogan:hover{
    backdrop-filter: blur(5px);
}