div.menu{
    width: 100%;
    height: 100dvh;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: #2b2b2b;
    z-index: 9999;
    transition: 300ms;
}
div.menu>nav{
    width: inherit;
}
div.menu>nav>ul{
    width: inherit;
    text-align: center;
}
div.menu>nav>ul>li{
    width: auto;
}
div.menu>nav>ul>li>a{
    display: block;
    width: inherit;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: bold;
    transition: 300ms;
}
div.menu>nav>ul>li>a:hover{
    background-color: #4b4b4b;
}
#show,#close{
    display: none;
}
label[for=show]{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: #2b2b2b;
    position: relative;
    cursor: pointer;
}
label[for=show]>div{
    width: 80%;
    height: 2px;
    background-color: deeppink;
    position: absolute;
}
label[for=show]>div:nth-of-type(1){
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
label[for=show]>div:nth-of-type(2){
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
label[for=show]>div:nth-of-type(3){
    left: 50%;
    top: 62%;
    transform: translate(-50%,-50%);
}
#show:checked ~ div.menu{
    left: 0;
}
label[for=close]{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: crimson;
    text-align: center;
    line-height: 30px;
    color: whitesmoke;
    font-size: 30px;
    right: 0;
    top: 0;
    cursor: pointer;
}
#close:checked ~ div.menu{
    left:-100%;
}
div.parallax{
    width: 100%;
    height: calc(100vh - 40px);
    background: url('../../images/robotic.jpg') center center no-repeat fixed;
    background-size: cover;
    position: relative;
    
}
div.parallax>div.slogan{
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(65, 207, 141, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 5px 25px black;
    transition: 300ms;
}
div.parallax>div.slogan>h1{
    color: #2b2b2b;
    margin-bottom: 10px;
    text-align: center;
}
div.parallax>div.slogan>p{
    color: #2b2b2b;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
}
div.parallax>div.slogan:hover{
    backdrop-filter: blur(5px);
}
div.posts{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #2b2b2b;

}
div.posts>div.post{
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
}
div.posts>div.post>img{
    width: 100%;
    filter: drop-shadow(5px 5px 25px #4b4b4b);
    margin-bottom: 10px;
}
div.posts>div.post>h1{
    margin-bottom: 10px;
    font-size: 24px;
    color: whitesmoke;
}
div.posts>div.post>p{
    margin-bottom: 10px;
    color: whitesmoke;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
}
div.posts>div.post>a{
    display: block;
    width: 150px;
    height: 40px;
    background-color: green;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    line-height: 40px;
    text-transform: capitalize;
    box-shadow: 5px 5px 25px black;
}